VITE_OBSERVABILITY_ADAPTERS=sentry,console
VITE_OBSERVABILITY_ENABLED=true
VITE_OBSERVABILITY_APP_NAME=chat-online-front
VITE_SENTRY_ENABLED=true
VITE_SENTRY_DSN=
VITE_SENTRY_ENVIRONMENT=development
VITE_SENTRY_RELEASE=front-local
VITE_API_URL=192.168.1.20:3001